/* external style sheet */

body{ 
    background-color: rgba(93, 17, 17, 0.804);
}

img{
    border-width: 10px; border-style: solid; width: 300px; height: 250px;
}

p { 
    color: gold; font-stretch:expanded; font-family: Georgia; font-size: large;
}

h1{
    font-stretch: semi-expanded; font-style: oblique; font-family: Verdana, Geneva, Tahoma, sans-serif; color: gold;
}

ul{
    color:goldenrod; font-style: oblique; font-family: Georgia; font-size: large;
}

a:hover{
    color: gold; font-family: Verdana, Geneva, Tahoma, sans-serif; font-style: oblique;
}

.loop-img {
    width: 75px; border-style: dashed; border-color: bisque;
}
